.CardGroup {
  display       : flex;
  flex-direction: column;
  gap: var(--spacing-1x);
}

  .Card {
    display       : flex;
    flex-direction: column;
    gap           : var(--spacing-1x);

    padding: var(--spacing-1x);

    border: 1px solid var(--border-color-primary);

    transition : box-shadow 200ms ease,
                 border 200ms ease;
    will-change: box-shadow, border;
  }

  .Card, .Card:hover, .Card:active {
    text-decoration: none;
  }

  .Card:hover {
    box-shadow: var(--shadow-primary);
  }

  .Card:active {
    box-shadow: none;
    border: 1px solid var(--border-color-secondary);
  }

    .Card-figure {
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }
      
      .Card-figure img {
        width: 100%;

        object-fit: cover;
        background-position: center;

        /* Görseli ortalamanın daha iyi bir yolunu bulamadım. */
        position: relative;
        bottom: 50%;
      }

    .Card-details {
      text-decoration: none;
    }

      .Card-details-description {
        color: var(--text-color-secondary);
        
        padding-block-end: var(--spacing-1x);
      }

      .Card-details-footer {
        border-block-start : 1px solid var(--border-color-primary);
        padding-block-start: var(--spacing-1x);
      }

        .Card-details-footer-date {
          color: var(--text-color-secondary);
        }

  .Card--tinyImage {
    flex-direction: row;
  }

    .Card--tinyImage .Card-figure {
      aspect-ratio: 1 / 1;
      width: calc(var(--text-fontSize-xlarge) * 6);
    }

    .Card--tinyImage .Card-figure img {
      bottom: unset;
    }    

