.CardGroup {
  display       : flex;
  flex-direction: column;
  gap: var(--spacing-1x);
}

  .CardGroup-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1x);
  }

    .CardGroup-header-details {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      gap: var(--spacing-1x);
    }

      .CardGroup-header-title {
        width: calc(100% - 32px - var(--spacing-1x));
      }

      .CardGroup-header-icon {
        display: flex;

        align-items    : center;
        justify-content: center;

        aspect-ratio: 1 / 1;

        overflow: hidden;

        min-width: 32px;
      }

      .CardGroup-header-description {
        color: var(--text-color-secondary);
      }

    .CardGroup-header-actions {
      display: flex;
      gap: var(--spacing-1x);
      flex-wrap: wrap;
    }

  .Card {
    display       : flex;
    flex-direction: column;
    gap           : var(--spacing-1x);

    padding: var(--spacing-1x);

    border: 1px solid var(--border-color-primary);

    transition : box-shadow 200ms ease,
                 border 200ms ease;
    will-change: box-shadow, border;
  }

  .Card, .Card:hover, .Card:active {
    text-decoration: none;
  }

  .Card:hover {
    box-shadow: var(--shadow-primary);
  }

  .Card:active {
    box-shadow: none;
    border: 1px solid var(--border-color-secondary);
  }

    .Card-figure {
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }
      
      .Card-figure img {
        width: 100%;

        object-fit: cover;
        background-position: center;

        /* Görseli ortalamanın daha iyi bir yolunu bulamadım. */
        position: relative;
        bottom: 50%;
      }

    .Card-details {
      display: grid;
      grid-template-rows: auto 1fr auto;
      text-decoration: none;
    }

      .Card-details-description {
        color: var(--text-color-secondary);
        
        padding-block-end: var(--spacing-1x);
      }

      .Card-details-footer {
        border-block-start : 1px solid var(--border-color-primary);
        padding-block-start: var(--spacing-1x);
      }

        .Card-details-footer-date {
          color: var(--text-color-secondary);
        }

  .Card--tinyImage {
    flex-direction: row;
  }

    .Card--tinyImage .Card-figure {
      aspect-ratio: 1 / 1;
      width: calc(var(--text-fontSize-xlarge) * 6);
      min-width: 64px;
    }

    .Card--tinyImage .Card-figure img {
      bottom: unset;
    }    

