.u-wrapper {
  margin: 0 auto;
  max-width: 70ch;
  
  padding-inline: var(--sizing-500);
}

[data-u-wrapper-padding="none"] { padding-inline: 0; }
[data-u-wrapper-margin="none"] { margin: 0; }
[data-u-wrapper-is_expanded="true"] {
  max-width: 90ch;
  margin-block: var(--sizing-900);
}
